<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tushant Resume</title>
    <style>
    body {
      background: #e2e4ea;
    }
    .container {
      display: flex;
      flex-direction: column;
    }
    .personal {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .heading{
      color: #1ab394;
    }
  </style>
  </head>
  <body>
    <div class="container">
      <h1 class="heading">Tushant Khatiwada</h1>
      <div class="personal">
        <span>Skills</span
        <span>Experiences</span>
      </div>
    </div>
  </body>
</html>
